// @import './sass/header';
@import './sass/hero';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 10px;
    background-color: #1B1B1B;
    color: #FFF;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

hr {
    border: 1px solid #7474742c;
}



.button {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    border: none;
    border-bottom: 1px solid white;
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: 0px 10px 0 0;
    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 205% 80%;
    background-position-x: 99%;
    transition: all .4s;
}

.button:hover {
    color: black;
    background-position: left;
}





