.hero {
    display: flex;
    padding: 34rem 5rem 10rem;
    background-image: 
        linear-gradient(
            90deg, 
            rgba(0, 0, 0, .2), 
            rgba(0, 0, 0, .2)), 
        url('../../assets/img/0C4A2207 1.png');
    background-size: cover;
    background-position: 25%;

    &__content {
        margin: 0 auto;

        &--text,
        &--buttons .button {
            text-shadow: 0 0 20px rgba($color: #000000, $alpha: .8);
        }

        &--text {
            font-size: 3.4rem;
            margin-bottom: 4rem;
        }

        &--buttons {
            display: flex;
            gap: 4rem;

            .button {
                font-size: 2rem;

            }
        }
    }
}

@media (width > 600px) {
    .hero {
        background-image: 
        linear-gradient(
            90.16deg, 
            rgba(0, 0, 0, 0) 0.1%, 
            rgba(0, 0, 0, 0.08) 33.55%, 
            rgba(0, 0, 0, 0.51) 51.52%, 
            #000000 99.82%), 
        url('../../assets/img/0C4A2207 1.png');
        padding-right: 7rem;
        &__content {
            margin: 0 0 0 auto;
        }
    }
}

@media (width > 1000px) {
    .hero {
        padding: 34rem 10rem 20rem;
        background-position-y: 10%;

        &__content {
            &--text {
                text-shadow: none;
                font-size: 4.4rem;
            }

            &--buttons {
                .button {
                    font-size: 2.8rem;
                }
            }
        }
    }
}

@media (width > 1280px) {
    .hero {
        padding: 34rem 15rem 20rem;
    }
}